@model IEnumerable<Shoes>
@{
    ViewData["Title"] = "Existing Database";
    Layout = "_Layout";
}

<div class="container-fluid">
    <h4 class="bg-primary p-3 text-white">Zoom Shoes</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Color</th>
                <th>Slogan</th>
                <th>Categories</th>
                <th>Fitting</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Shoes s in Model) {
                <tr>
                    <td>@s.Name</td>
                    <td>$@s.PriceIncTax.ToString("F2")</td>
                    <td>@s.Color.Name</td>
                    <td>@s.SalesCampaigns?.Slogan</td>
                    <td>
                        @String.Join(", ", s.ShoeCategoryJunction
                    .Select(j => j.Category.Name))
                    </td>
                    <td>@s.Fitting.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>
